.new-container{
    display:flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;   
}

.new-inner-container{
    width: 80%;
    max-width: 360px;
    text-align: center;
    color:#fff;
}