.temperature-feels-like{
    font-size: 0.9em;
    color:#f9f9f9;
    font-weight: 300;
    text-align: left;
    padding-left: 20px;
}

.temperature-container{
    
}

.temperature-value{
    font-size: 80px;
    font-weight: 100;
    color:#e2ecc7;
    text-align: center;
}