.rn-btn{
    width: 100%;
    max-width: 360px;
    height: 42px;
    border: none;
    margin-top: 10px;
    font-size: 1em;
}

.rn-btn-add{
    background-color:#84BB72 ;
    color:#ffffff;
}

.rn-btn-getpos{
    background-color:#669CBB ;
    color:#ffffff;
}