.about-container{

}

.about-title{
    margin: 10px;
    font-size: 18px;
    color:
    #fff;
    font-weight: 300;
}

.about-text{
    margin: 10px;
    font-size: 16px;
    color:
    #fff;
    font-weight: 300;
}