@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Montserrat:200,300,400&display=swap');

@import './css/simple-grid.min.css';
@import './css/owfont-regular.min.css';
@import './css/components/index.css';



html , body{
    background-color: #20262d !important;
}

body {
  color: #ffffff !important;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

